<md-bottom-sheet style="position: fixed">
  <div layout="row" layout-wrap>
      <div flex="80">
        <canvas id="knotCanvas"></canvas>

      </div>
      <div flex="20">

          <md-content layout-padding>
              <h2>Degree : {{data.degree}}</h2>
              <md-button ng-click="increaseDegree()">Increase Degree</md-button>
              <md-button ng-click="decreaseDegree()">Decrease Degree</md-button>
              <md-button ng-click="makeUniform()">Make Uniform</md-button>
            </md-content>
      </div>
  </div>
</md-bottom-sheet>
