<html id="editor">
<header>
    <title>Bezier Curve Editor</title>
    <link rel="stylesheet" href="./Styles/reset.css">
    <link rel="stylesheet" href="./Styles/fonts.css">
    <link rel="stylesheet" href="./Styles/flexbox.css">
    <link rel="stylesheet" href="./Styles/colors.css">
    <link rel="stylesheet" href="./Styles/test.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta charset="utf-8" />

    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.css">
</header>

<body ng-app="BSplineEditor" ng-controller="DemoBasicCtrl as ctrl">
    <canvas id="glCanvas"></canvas>

    <div id="Menu" ng-cloak="" class="menuBardemoBasicUsage">
        <md-toolbar class="md-menu-toolbar">
            <div layout="row">
                <div style="width: 100%;">
                    <h2 class="md-toolbar-tools">{{ ctrl.settings.designName }}</h2>
                    <md-menu-bar style="display: flex;">
                        <md-menu>
                            <button ng-click="$mdMenu.open()">
                                File
                            </button>
                            <md-menu-content>
                                <md-menu-item>
                                    <md-button disabled="disabled" ng-click="ctrl.sampleAction('share', $event)">
                                        Share...
                                    </md-button>
                                </md-menu-item>
                                <md-menu-divider></md-menu-divider>
                                <md-menu-item>
                                    <md-button ng-click="ctrl.newDesign($event)">
                                        New Design
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="ctrl.renameDesign($event)">
                                        Rename Design
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button onclick="document.getElementById('UploadFile').click();">
                                        Import Design...
                                        <span class="md-alt-text"> {{ 'M-O' | keyboardShortcut }}</span>
                                    </md-button>
                                    <input class="ng-hide" id="UploadFile" type="file" />
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="ctrl.save($event)">
                                        Save Design
                                    </md-button>
                                </md-menu-item>
                                <md-menu-divider></md-menu-divider>
                                <md-menu-item>
                                    <md-button disabled="disabled" ng-click="ctrl.sampleAction('Print', $event)">
                                        Print
                                        <span class="md-alt-text">{{ 'M-P' | keyboardShortcut }}</span>
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                        <md-menu>
                            <button ng-click="$mdMenu.open()">
                                Edit
                            </button>
                            <md-menu-content>
                                <md-menu-item class="md-indent">
                                    <md-icon md-svg-icon="undo"></md-icon>
                                    <md-button disabled="disabled" ng-click="ctrl.sampleAction('undo', $event)">
                                        Undo
                                        <span class="md-alt-text">{{ 'M-Z' | keyboardShortcut }}</span>
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item class="md-indent">
                                    <md-icon md-svg-icon="redo"></md-icon>
                                    <md-button disabled="disabled" ng-click="ctrl.sampleAction('redo', $event)">
                                        Redo
                                        <span class="md-alt-text">{{ 'M-Y' | keyboardShortcut }}</span>
                                    </md-button>
                                </md-menu-item>
                                <md-menu-divider></md-menu-divider>
                                <md-menu-item class="md-indent">
                                    <md-icon md-svg-icon="content-cut"></md-icon>
                                    <md-button disabled="disabled" ng-click="ctrl.sampleAction('cut', $event)">
                                        Cut
                                        <span class="md-alt-text">{{ 'M-X' | keyboardShortcut }}</span>
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item class="md-indent">
                                    <md-icon md-svg-icon="content-copy"></md-icon>
                                    <md-button disabled="disabled" ng-click="ctrl.sampleAction('copy', $event)">
                                        Copy
                                        <span class="md-alt-text">{{ 'M-C' | keyboardShortcut }}</span>
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item class="md-indent">
                                    <md-icon md-svg-icon="content-paste"></md-icon>
                                    <md-button disabled="disabled" ng-click="ctrl.sampleAction('paste', $event)">
                                        Paste
                                        <span class="md-alt-text">{{ 'M-P' | keyboardShortcut }}</span>
                                    </md-button>
                                </md-menu-item>
                                <md-menu-divider></md-menu-divider>
                                <md-menu-item class="md-indent">
                                    <md-button ng-click="ctrl.addCurve($event)">
                                        Add Curve
                                        <span class="md-alt-text">{{ 'M-S-H' | keyboardShortcut }}</span>
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item class="md-indent">
                                    <md-button ng-click="ctrl.deleteCurve($event)">
                                        Delete Curve
                                        <span class="md-alt-text">{{ 'M-S-H' | keyboardShortcut }}</span>
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item class="md-indent">
                                    <md-button ng-click="ctrl.deleteLastHandle($event)">
                                        Delete Last Handle
                                        <span class="md-alt-text">{{ 'M-S-H' | keyboardShortcut }}</span>
                                    </md-button>
                                </md-menu-item>
                                <md-menu-divider></md-menu-divider>
                                <md-menu>
                                    <md-button class="button-override" ng-click="$mdMenu.open()">Insertion Mode</md-button>
                                    <md-menu-content width="3">
                                        <md-menu-item type="radio" ng-model="ctrl.settings.insertionMode" ng-click="ctrl.updateInsertionMode($event)"
                                            value="front">Add to Front</md-menu-item>
                                        <md-menu-item type="radio" ng-model="ctrl.settings.insertionMode" ng-click="ctrl.updateInsertionMode($event)"
                                            value="back">Add to Back</md-menu-item>
                                        <md-menu-item type="radio" ng-model="ctrl.settings.insertionMode" ng-click="ctrl.updateInsertionMode($event)"
                                            value="closest">Add to Closest</md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                                <md-menu-item type="checkbox" ng-model="ctrl.settings.snappingEnabled" ng-click="ctrl.updateSnapping($event)">Snapping
                                    Enabled</md-menu-item>
                            </md-menu-content>
                        </md-menu>
                        <md-menu>
                            <button ng-click="$mdMenu.open()">
                                View
                            </button>
                            <md-menu-content>
                                <md-menu-item class="md-indent">
                                    <md-button ng-click="ctrl.resetCamera($event)">
                                        Reset Camera
                                        <span class="md-alt-text">{{ 'M-S-H' | keyboardShortcut }}</span>
                                    </md-button>
                                </md-menu-item>
                                <md-menu-divider></md-menu-divider>
                                <md-menu-item type="checkbox" ng-model="ctrl.settings.showControlPolygon" ng-click="ctrl.updateVisibility($event)">Show
                                    Control Polygon</md-menu-item>
                                <md-menu-item type="checkbox" ng-model="ctrl.settings.showControlHandles" ng-click="ctrl.updateVisibility($event)">Show
                                    Control Handles</md-menu-item>
                                <md-menu-item type="checkbox" ng-model="ctrl.settings.showCurve" ng-click="ctrl.updateVisibility($event)">Show
                                    Curve</md-menu-item>
                                <md-menu-divider></md-menu-divider>
                                <md-menu-item type="checkbox" ng-model="ctrl.settings.fullScreen" ng-click="ctrl.toggleFullScreen($event)"
                                    nv>Full screen</md-menu-item>
                            </md-menu-content>
                        </md-menu>
                        <md-menu>
                            <md-button ng-click="ctrl.showHelp($event)">
                                Help
                            </md-button>
                            <md-menu-content></md-menu-content>
                        </md-menu>
                        <span flex></span>
                        
                        <md-slider-container>
                            <div flex="20" layout layout-align="center center">
                                <span class="md-body-1">Zoom</span>
                            </div>
                            <md-slider class="zoomSlider" ng-model="ctrl.settings.zoom" ng-change="ctrl.updateZoom()"
                            min="5" max="100" aria-label="regular slider"></md-slider>
                        </md-slider-container>
                    
                        <md-menu>
                            <md-button ng-click="ctrl.resetCamera($event)">
                                Reset Camera
                            </md-button>
                            <md-menu-content></md-menu-content>
                        </md-menu>

                        <span flex></span>
                        <md-menu>
                            <md-button ng-click="openBottomSheet($event)">
                                Edit Knot
                            </md-button>
                            <md-menu-content></md-menu-content>
                        </md-menu>

                        <md-menu>
                            <md-button ng-click="ctrl.addCurve($event)">
                                Add Curve
                            </md-button>
                            <md-menu-content></md-menu-content>
                        </md-menu>

                        <md-menu>
                            <md-button ng-click="ctrl.deleteCurve($event)">
                                Delete Curve
                            </md-button>
                            <md-menu-content></md-menu-content>
                        </md-menu>



                    </md-menu-bar>
                </div>
            </div>
        </md-toolbar>
    </div>

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-sanitize.js"></script>


    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.js"></script>


    <script src="./Scripts/jquery-3.3.1.js"></script>
    <script src="./Scripts/hammer.min.js"></script>
    <script src="./Scripts/gl-matrix.js"></script>
    <script type="module" src="./Scripts/main.js"></script>

</body>

</html>