.menuBardemoBasicUsage .page-container {
    padding: 32px; 
}
  
  .menuBardemoBasicUsage .page {
    margin: 0 auto;
    padding: 24px;
    max-width: 680px;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.25); }
  
  .menuBardemoBasicUsage .page h1 {
    text-align: center;
    font-size: 1.8rem;
    margin-top: 0;
    font-weight: normal; }
  
  .menuBardemoBasicUsage .page p {
    line-height: 1.6rem; }


    .bottomSheetdemoBasicUsage .md-inline-list-icon-label {
      display: inline-block;
      padding-left: 10px;
      padding-right: 10px;
      margin-top: -10px;
      height: 24px;
      vertical-align: middle; }
    
    .bottomSheetdemoBasicUsage .md-grid-item-content {
      height: 90px;
      padding-top: 10px; }
    
    .bottomSheetdemoBasicUsage .md-grid-item-content md-icon {
      height: 48px;
      width: 48px; }
    
    .bottomSheetdemoBasicUsage .md-grid-text {
      padding-bottom: 5px; }
    
    .bottomSheetdemoBasicUsage md-list-item, .bottomSheetdemoBasicUsage md-list-item .md-list-item-inner {
      min-height: 48px; }
    
    .bottomSheetdemoBasicUsage h2 {
      line-height: 36px;
      padding-top: 10px; }
    
    .bottomSheetdemoBasicUsage .md-subheader .md-subheader-inner {
      padding: 0; }
    
    .bottomSheetdemoBasicUsage md-toast .md-toast-content {
      background-color: #B14141; }
    
    .bottomSheetdemoBasicUsage md-toast > * {
      font-weight: bolder; }
    
    
    /*
    Copyright 2018 Google Inc. All Rights Reserved. 
    Use of this source code is governed by an MIT-style license that can be foundin the LICENSE file at http://material.angularjs.org/HEAD/license.
    */